.arrow-button {
  border: none;
  background-color: $color-transparent;
  stroke: $color-dark-gray;
  fill: none;
  cursor: pointer;

  transition: $trans-default;

  &:hover {
    stroke: $color-sapphire;
    stroke-width: 2px;
    transform: scale(120%);
  }

  &:focus,
  &:focus-within {
    stroke: $color-sapphire;
    outline: none;
    stroke-width: 2px;
  }

  &:active {
    opacity: 0.7;
  }
}

.arrow-button.swiper-button-disabled {
  stroke: $color-dark-gray;
  stroke-width: 1px;
  opacity: 0.5;
  transform: none;
  cursor: text;
}

@media (max-width: $tablet-max-width) {
  .arrow-button svg {
    display: block;
    width: 16px;
    height: 32px;
  }
}

@media (max-width: $mobile-max-width) {
  .arrow-button svg {
    width: 10px;
    height: 19px;
  }
}
