.footer-nav__list {
  display: flex;

  &:last-child {
    margin-right: 229px;
  }
}

.footer-nav__link {
  position: relative;
  display: inline-block;
  padding: 3px 0;
  margin-right: 40px;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: $color-default-white;

  user-select: none;
  transition: $trans-default;
}

.footer-nav__link::before {
  content: "";
  background: $text-crimson-to-cobalt;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  transition: $trans-default;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  background-position: 0;
  outline: none;
}

.footer-nav__link:hover::before,
.footer-nav__link:focus::before {
  width: 100%;
}

.footer-nav__link:active,
.footer-nav__link:active::before {
  opacity: 0.7;
}

@media (max-width: $tablet-max-width) {
  .footer-nav__list {
    &:last-child {
      margin-right: 25px;
    }
  }

  .footer-nav__link {
    margin-right: 30px;
  }
}

@media (max-width: $mobile-max-width) {
  .footer-nav {
    display: grid;
    grid-template-areas:
      "logo second-column"
      "first-column second-column";
    column-gap: 46px;
  }

  .footer-nav__logo {
    grid-area: logo;
  }

  .footer-nav__list {
    flex-direction: column;
    row-gap: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer-nav__list--first-column {
    grid-area: first-column;
  }

  .footer-nav__list--second-column {
    grid-area: second-column;
  }

  .footer-nav__link {
    font-size: 16px;
    line-height: 19px;
  }
}
