.reviews__wrapper {
  position: relative;
  padding-top: 49px;
  padding-bottom: 118px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  margin: 0;
  margin-left: 8px;
  margin-bottom: 36px;

  text-align: center;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;

  letter-spacing: 0.03em;

  color: $color-sapphire;
}

.reviews__carousel-wrapper {
  overflow: hidden;
  transition: 0.3s;
  width: 560px;
}

.reviews__button {
  position: absolute;
  top: 50%;
  z-index: 10;

  &--prev {
    left: 236px;
  }

  &--next {
    right: 236px;
  }
}

.reviews__button--prev.swiper-button-disabled,
.reviews__button--next.swiper-button-disabled {
  opacity: 0.5;
}

.reviews__list {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 560px;
  left: 0;

  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet-max-width) {
  .reviews__wrapper {
    padding-top: 41px;
    padding-bottom: 98px;
  }

  .reviews__title {
    margin: 0;
    margin-left: -5px;
    margin-bottom: 41px;

    font-size: 42px;
    line-height: 50px;
  }

  .reviews__carousel-wrapper {
    width: 566px;
  }

  .reviews__button {
    top: 48%;

    &--prev {
      left: -7px;
    }

    &--next {
      right: -7px;
    }
  }

  .reviews__list {
    grid-auto-columns: 566px;
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__wrapper {
    padding-top: 29px;
    padding-bottom: 70px;
  }

  .reviews__title {
    margin-left: -5px;
    margin-bottom: 41px;

    font-size: 32px;
    line-height: 38px;
  }

  .reviews__carousel-wrapper {
    width: 226px;
  }

  .reviews__list {
    grid-auto-columns: 226px;
  }
}
