.review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 28px;
  padding: 62px;
  padding-bottom: 58px;

  width: 560px;
  min-height: 242px;

  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.review__text-wrapper {
  width: 328px;
}

.review__name {
  margin: 0;
  margin-bottom: 20px;

  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 70%;

  color: $color-default-white;
}

.review__text {
  margin: 0;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: $color-default-white;
}

@media (max-width: $tablet-max-width) {
  .review {
    width: 566px;
  }
}

@media (max-width: $mobile-max-width) {
  .review {
    position: relative;
    display: block;
    width: 226px;
    min-height: 335px;
    padding: 40px 25px;
    padding-top: 48px;
    padding-bottom: 35px;
  }

  .review img {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 41px;
    left: 41px;
  }

  .review__text-wrapper {
    width: 176px;
  }

  .review__name {
    margin-bottom: 22px;
    padding-left: 99px;
    text-align: start;
    line-height: 130%;
  }

  .review__text {
    text-align: center;
  }
}
