.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 678px;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: none;
    width: 90%;
  }
}
