.main-footer {
  background-color: $color-black-russian;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  min-height: 108px;
}

.main-footer__nav {
  display: flex;
  align-items: center;
}

.main-footer__logo {
  margin-top: 7px;
  margin-right: 277px;
}

.main-footer__logo svg {
  vertical-align: middle;
  fill: $color-default-white;
}

@media (max-width: $tablet-max-width) {
  .main-footer__wrapper {
    min-height: 114px;
  }

  .main-footer__logo {
    margin-top: -2px;
    margin-right: 62px;
  }

  .main-footer__logo svg {
    width: 82px;
    height: 18px;
  }
}

@media (max-width: $mobile-max-width) {
  .main-footer__wrapper {
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 33px;

    padding-top: 45px;
  }

  .main-footer__logo {
    margin-top: -2px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .main-footer__logo svg {
    width: 68px;
    height: 15px;
  }
}
